@font-face {
  font-family: 'Moderat';
  src: url('../fonts/moderat-light-webfont.woff2') format('woff2'),
       url('../fonts/moderat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('../fonts/moderat-regular-webfont.woff2') format('woff2'),
       url('../fonts/moderat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}